<!DOCTYPE html>
  <html>
    
    <head>
      <title>{% block title %}My Web App{% endblock %}</title>
      <style>
        .body-bg {
      background-image: url('../static/mypics/ww.jpg');
      background-repeat: no-repeat;
      background-size: cover;}
  </style>
  
      </head>
      <body class= "body-bg">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">My Web App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog_list' %}">contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog_create' %}">help</a>
            </li>
        </nav>
        <h2>Login</h2>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <a class="btn" style="background: silver;border: solid;" href="/register">Register</a>
              <button type="submit" style="
              border: solid;">Login</button>

              
            </form>
         
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </body>
  </html>
  
